[Desktop Entry]
Name=Classik
Comment=Classik is a window decoration for Aurorae designed to be a refreshed version of the default KDE1 theme; based on Freeze
X-KDE-PluginInfo-Name=Classik
X-KDE-PluginInfo-Author=MirceaKitsune, Paul McAuley
X-KDE-PluginInfo-Email=kde@paulmcauley.com
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-License=LGPL V2
X-KDE-PluginInfo-EnabledByDefault=true
