[Desktop Entry]
Name=Classik-Aurorae-Light
Comment=Classik-Aurorae is a window decoration for Aurorae designed to be a refreshed version of the default KDE1 theme. Classik-Aurorae-Light is a light version of the theme designed to be used with the Breeze Light Colour Scheme.
X-KDE-PluginInfo-Name=Classik-Aurorae-Light
X-KDE-PluginInfo-Author=Paul McAuley
X-KDE-PluginInfo-Email=kde@paulmcauley.com
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Version=20210301
X-KDE-PluginInfo-License=LGPL V2
X-KDE-PluginInfo-EnabledByDefault=true
